{% extends 'core/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/estilosAcercade.css' %}">

{% if request.user.is_authenticated %}
<div class="container">
    <div class="text-center m-4">
        <h2 class="mt-4">Menu del administrador</h2>
        <a class="btn btn-success" href="{% url 'create' %}">Agregar Nuevo Libro</a>
    </div>

    <div class="row" style="background-color: #f9f8f6;">
        {% for libro in libro_list %}
        <div class="col-md-3 mb-3 mt-3">
            <div class="card text-center">
                <img src="{{ libro.imagen.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ libro.titulo }}</h5>
                    <p class="card-text">
                        {% if libro.estado %}
                        Disponible
                        {% else %}
                        Reservado
                        {% endif %}
                    </p>
                    <!-- Button trigger modal -->
                    <p>
                        <a class="btn btn-primary" href="{% url 'update' libro.id%}">Editar libro</a>
                        <a class="btn btn-danger" href="{% url 'delete' libro.id%}">Eliminar libro</a>
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ forloop.counter }}"
                        style="background-color: #9a8d61; border-color: #9a8d61;">
                        Detalles del libro
                    </button>
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Informacion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <p class="card-text"><strong>Ejemplares disponibles:</strong> {{ libro.numDeInventario }}
                            </p>
                            <p class="card-text"><strong>ISBN:</strong> {{ libro.ISBN }}</p>
                            <p class="card-text"><strong>Género:</strong> {{ libro.genero }}</p>
                            <p class="card-text"><strong>Descripción:</strong>
                                {{ libro.descripcion }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endif %}

{% if not request.user.is_authenticated %}

<div class="container text-center" style="height: 20vh; margin-top: 5%;">
    <div class="alert alert-danger" role="alert">
        Debes iniciar sesion como administrador
    </div>
</div>

{% endif %}


{% endblock %}